body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letra-proyecto{
  font-family: 'Caslon';
}

.letra-Pagina{
  font-family: 'Caslon';
  font-size: 1rem;
}

.fondo-navLibreria{
  background-color: #DECDAC;
}

.titulo-empresa{
  font-family: 'Caslon';
  font-size: 2rem;
  color: #5B5247;
}
.titulo-empresa strong{
  font-size: 2rem;
  color: #5B5247;
}
.titulo-empresa strong:hover{
  color: #ad6001;
}

.titulo-empresa:hover{
  color: #857868;
}

.nombre-usuario{
  color: #5B5247;
  font-size: 1rem;
  font-weight: bold;
}

.nombre-usuario:hover{
  color: #857868;
}

.icon-Acciones{
  height: 35px;
  width: 40px;
}

.background-main{
  background-image: url(./Assets/FondoMain.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  color: rgba(238, 228, 228, 0.822);
  background-attachment: fixed;
  
}
.page-content {
  position: relative;
  z-index: 1;
}

.background-mainColor{
  background-color: rgba(91, 82, 71, 0.7) ;
  height: 100vh;
  width: 100%;
}


.book-container {
  background-color: #f8f9fa; /* Establece el fondo para la imagen y la descripción */
  padding-top: 10px;
  padding-bottom: 30px;
}


.book-image {
  width: 100000px; /* ajusta el tamaño según tus necesidades */
  height: auto; /* mantiene la proporción de la imagen */
}

.custom-btn {
  max-width: 200px; /* ajusta el ancho máximo según tus necesidades */
  width: 100%; /* asegura que el botón ocupe el ancho máximo permitido */
}

.background-mainColor{
  background-color: rgba(91, 82, 71, 0.7) ;
  height: 87vh;
  width: 100%;
}

.background-titulo{
  background-color: rgba(91, 82, 71, 0.6) ;
  border-radius: 25px;
}

.btn-app{
  background-color: #EFEFEF;
  color: #5B5247;
  border-radius: 25px;
}

.btn-app:hover{
  background-color: #5B5247;
  color: #DECDAC;
}

.outline {
  background: transparent;
  color: #000000;
  border-color: #0a0a0a;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px 40px;
  transition: all 0.2s linear;
  a {
      text-decoration: none;
  }
}
.outlineNav:hover {
  color: rgb(3, 3, 3);
  background: #ffffff;
  border-color: rgb(4, 4, 4);
  transition: all 0.2s linear;
}
.outlineNav:active {
  border-radius: 22px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  justify-content: center;
}

.black {
  font-weight: 700;
  color: #5B5247;
  border-color: #5B5247;
  background: transparent;
}
.black:hover {
  color: white;
  background: #5B5247;
  border-color: rgb(154, 150, 145);
}

.tamaño-subtituloLetra{
  font-family: 'Caslon';
  font-size: 14px;
  font-weight: bold;
}

.tamaño-letraTarjeta{
  font-family: 'Caslon';
  font-size: 13px;
  font-weight: normal;
}

.tamaño-descripcion{
  font-size: 12px;
  font-weight: normal;
}

.tarjeta-libro{
  background-color: #6f93dc;
  border-radius: 25px;
}

.titulo-tarjeta{
  font-family: 'Caslon';
  font-size: 1.5rem;
  font-weight: bold;
}

/*Estilos para el login*/

.page-content {
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

.card-cont {
  background-color: rgba(91, 82, 71, 0.7);
  border-radius: 20px;
  
}

.card-body {
  padding: 20px;
  border-radius: 30px;
  
}

.form-control {
  border: none;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 20px;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  border-radius: 20px;
}

.logo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: -8rem;
}

.logo-login i {
  font-size: 5rem;
  color: #023864;
  border-radius: 50%;
  background-color: rgba(230, 217, 217, 0.5);
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.messages-container p {
  font-size: 2rem;
  font-style: 'Caslon';
  color: rgba(211, 199, 199, 0.7);
}

.input-group input{
  border-radius: 20px;
  height: 3rem;
}

.input-group select{
  width: 100%; 
  border-radius: 20px;
  height: 3rem;
}

.input-group span{
  border-radius: 20px;
}

/*Hasta aqui login*/



/* Estilos para pantallas pequeñas (menos de 600px) */
@media (max-width: 600px) {
  .titulo-empresa{
    font-size: 1.5rem;
  }
  .titulo-empresa strong{
    font-size: 1.5rem;
  }
  .nombre-usuario{
    font-size: 0.8rem;
  }
  .icon-Acciones{
    height: 25px;
    width: 30px;
  }
  .background-main{
    height: 100vh;
  }
  .background-mainColor{
    height: 100vh;
  }
}

/* Estilos para pantallas medianas (entre 600px y 1200px) */
@media (min-width: 600px) and (max-width: 1200px) {
  .titulo-empresa{
    font-size: 1.8rem;
  }
  .titulo-empresa strong{
    font-size: 1.8rem;
  }
  .nombre-usuario{
    font-size: 0.9rem;
  }
  .icon-Acciones{
    height: 30px;
    width: 35px;
  }
  .background-main{
    height: 100vh;
  }
  .background-mainColor{
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .dropdown {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .dropdown {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media (min-width: 1200px) {
  .dropdown {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}


